# IDEs
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.vscode/

# Back
back/node_modules/
back/build/
back/tmp/
back/temp/
back/.env
back/.env.*
!back/.env.example
back/pgdata
back/pgdata-*
back/dist

#front
front/logs
front/*.log
front/npm-debug.log*
front/yarn-debug.log*
front/yarn-error.log*
front/pnpm-debug.log*
front/lerna-debug.log*

front/node_modules
front/dist
front/dist-ssr
front/*.local